<main class="app-container">
    <header class="header">
        <div class="header__content">
            <form class="header__form">
                <input placeholder="City, State, or Zip Code" type="text" name="location" id="location"
                    class="header__form--input">
                <a href="#" class="header__form--link"><input type="button" id="Btn" class="header__form--btn"><i
                        class="search-icon fas fa-search-location"></i></a>
            </form>
        </div>
    </header>
</main>